.search-bar{
	margin:20px;
	margin-top: 100px;
	text-align: center;
}

.search-bar input{
	width:700px;	
}

.summary,.totalTransactions{
	padding-top: 40px;
}

.transaction-list{
	padding-top: 50px;
}

.inputAddresses{
	font-size:13px;
}

.outputAddresses{
	font-size:13px;
}

.outAddressValue{
	color:green;
}

.inputAddressValue{
	color:red;
}

.index-header{
	padding-top: 30px;
}